<nav class="navbar navbar-inverse navbar-fixed-top" id="navTop">
    <!--<div class="godown-60" id="godown"></div>-->

        <div class="row-fluid">
            <div class="col-lg-6 col-sm-6 col-xs-8">
                <div class="navbar-header">
                    <!-- Placeholder for logo  -->
                    <!-- <h2><strong>Carl Flint</strong></h2> -->
                    {{ logo}}
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-4 transition-all ">
                <ul class="nav navbar-nav navbar-right text-vertical-center" id="myTopnav">
                    <li>
                        <a href="#" id="nav-links">
                            <h4>Home</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#cv" id="nav-links">
                            <h4>CV</h4>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#contact" id="nav-links">
                            <h4>Contact</h4>
                        </a>
                    </li> -->
                    <li class="icon">
                        <i id="mobileNav" class="fa fa-bars fa-fw fa-2x" ></i>
                    </li>
                </ul>
            </div>
        </div>

</nav>
